<div class="jumbotron">
    <h1>Chart.API</h1>
    <p class="lead">Click the link below to view available endpoints within the API.</p>
    <p>@Html.ActionLink("Available API Endpoints", "Index", "Help", new { area = "" }, null)</p>
</div>

